body {
    margin: 0;
    font-family: 'Helvetica', Arial, Sans-serif;
    line-height: 1.5;
    color: #90172a;
    display: block;


}

* {
    vertical-align: top;
}
.container {
    width: 960px;
    margin: 0 auto;
}


header {
    width: 100%;
    height: 80px;
    background: #B1d4cd;
    padding-top: 20px;

}


header nav, header li {
    display: inline-block;
}



nav ul a {
    text-transform: uppercase;
    color: #90172a;
    margin-right: 20px;
    text-decoration: none;
}


.hero-banner {
    height: 250px;
    padding-top: 150px;
    width: 100%;
    background: url(../images/doughnuts.jpg) fixed;
    background-size: cover;
    position: relative;
}

.main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.why-knot {
  display: inline-block;
  width: 45%;
}

.contact {
  width: 45%;
  display: inline-block;
  margin-left: 20px;
}

footer {
    height: 370px;
    background: #B1d4cd;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer .contact {
    width: 47%;
    padding-top: 28px;
    display: inline-block;
}

footer .animation {
    width: 47%;
    display: inline-block;
    text-align: center;
}

.doughnut {
    height: 300px;
    width: 300px;
    background: url(../images/footer-doughnut.png) no-repeat;
    display: inline-block;
    position: relative;
}

.btn {
    width: 170px;
    height: 50px;
    margin: 0 auto;
    border-radius: 4px;
    line-height: 50px;
    font-size: 18px;
    background: #CF6480;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

#sprinkles {
    display: none;
    position: absolute;
    height: 350px;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/sprinkles.png) no-repeat;
}
